<h4>Loading stuff:</h4>
<ul>
    <li *ngFor="let request of httpLoaderService$ | async">{{ request }}</li>
</ul>
<h4>Is anytHing loading</h4>
{{ anyRequestStillLoading$ | async }}
<!-- loop over current notification Observables -->
<div class="notifications">
    <notification
        *ngFor="let item of notificationsService$ | async"
        [observer]="item.observer">
        {{item.content}}
    </notification>
</div>

<nav class="navigation">
    <ul>
        <li>
            <a
                routerLink="/lazy-section-demo"
                routerLinkActive="active">
                Lazy loaded demo section
            </a>
        </li>
        <li>
            <a
                routerLink="/lazy-section-demo/router-filters"
                routerLinkActive="active">
                Filter Query params demo
            </a>
        </li>
    </ul>
</nav>
<router-outlet></router-outlet>
