<ng-container *ngIf="filtersSerice | async as queryFilters">
    <pre>{{ queryFilters | json }}</pre>
    <section>
        <div>
            <input
                type="text"
                [value]="queryFilters.search ?? ''"
                (input)="handleSearchChange($event)">
        </div>
        <div>
            <!-- multiple selection filters -->
            <label>
                Please choose one or more pets (hold CTRL for multiple):
                <select
                    name="pets"
                    multiple
                    size="4"
                    [ngModel]="queryFilters.customFilters?.petType"
                    (ngModelChange)="handlePetChange($event)">
                    <optgroup label="4-legged pets">
                        <option value="dog">Dog</option>
                        <option value="cat">Cat</option>
                    </optgroup>
                    <optgroup label="Flying pets">
                        <option value="parrot">Parrot</option>
                        <option value="macaw">Macaw</option>
                        <option value="albatross">Albatross</option>
                    </optgroup>
                </select>
            </label>
        </div>
        <p>
            <!-- sorting controls -->
            <label for="sorting-select">Sort by</label>
            <select
                [ngModel]="joinSort(queryFilters.sortField, queryFilters.direction)"
                name="sorting"
                id="sorting-select"
                (ngModelChange)="handleSortChange($event)">
                <option value>--Please choose an sort option--</option>
                <option
                    *ngFor="let sortOption of sortTypes"
                    [value]="sortOption">
                    {{sortOption}}
                </option>
            </select>
        </p>
        <div>
            <!-- page size -->
            <label for="pagination-select">Page size</label>
            <select
                [ngModel]="queryFilters.pageSize"
                name="page-size"
                id="pagination-select"
                (ngModelChange)="handleChangePageSize($event)">
                <option value>--Select page size--</option>
                <option
                    *ngFor="let page of pageSizes"
                    [value]="page">
                    {{page}}
                </option>
            </select>
        </div>
        <!-- change page -->
        <button
            type="button"
            [disabled]="queryFilters.page === 1"
            (click)="changePage('decrement', queryFilters.page)">
            < Prev
        </button>
        <span>{{ queryFilters.page }}</span>
        <button
            type="button"
            (click)="changePage('increment', queryFilters.page)">
            Next >
        </button>
    </section>
</ng-container>
